@import "colores.scss";
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import "tipografia.scss";


body {
    background-color: $colorFondo;
    overflow-x: hidden;
}

.navbar {
    .img-logo {
        width: 4%;
        margin-left: 25px;
    }

    .navbar-nav .nav-link {
        font-family: $fuente;
        color: $colorFuente !important;
        font-size: 25px;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        transition: 0.5s;
    }
    .navbar-nav .nav-link:hover {
        transform: translateY(5px);
    }
}

header {
    .principal {
        background-image: url(../img/photo-1496167117681-944f702be1f4.jpeg);
        background-size: cover;
        background-repeat: repeat;
        background-attachment: fixed;
        width: 101.4%;

        .img-web {
            display: block;
            margin: auto auto;
            width: 80%;
        }
    }
}

.servicios {
    .ola-arriba {
        width: 100%;
    }

    .titulo-servicio {
        font-size: 60px;
        font-family: $fuente;
        color: $colorFuente;
        text-align: center;
        margin: 25px;
    }

    .col-md-3 .img-humo1 {
        float: left;
    }

    .col-md-3 .img-humo2 {
        float: right;
    }

    .subtitulo-servicio {
        font-family: $fuenteSubtitulo;
        color: $colorFuente;
        text-align: center;
        font-size: 40px;
    }

    .card {
        margin: auto auto;
        background-color: $colorcard;
        border-radius: 50px;
        border: 5px solid $colorFuente;
        -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
        box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);

        .card-body {
            .img-diseño {
                margin-left: 20px;
                width: 50px;
            }

            .card-title {
                text-align: center;
                display: inline-block;
                color: $colorFuente;
                font-family: $fuente;
                font-size: 30px;
            }

            .card-text {
                color: $colorFuente;
                font-family: $fuente;
                font-size: 25px;
            }

            .espacio {
                padding: 50px 0 60px 0;
            }
        }
    }
}

.contacto {
    background-image: url(../img/photo-1496167117681-944f702be1f4.jpeg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    width: 101.4%;

    .titulo-contacto {
        font-size: 65px;
        font-family: $fuente;
        color: $colorFuente;
        text-align: center;
        margin: 25px;
    }

    .img-contacto {
        display: inline-block;
        width: 80%;
        padding-left: 15px;
    }

    .boton {
        display: flex;
        justify-content: center;

        .btn {
            background-color: $colorFuente;
            font-family: $fuente;
            font-size: 20px;
            border-radius: 50px;
            border: 3px solid $colorcard;
            -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
            -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
            box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
        }
    }

    .img-ola-abajo {
        width: 100%;
    }
}

.footer {
    background-color: $colorFondo;
    .logo {
        .logo-footer {
            display: block;
            width: 5%;
            margin: auto auto;
        }
    }

    .lista-menu {
        display: block;
        text-align: center;
        padding-top: 20px;
        margin-right: 50px;
    }

    .footer-menu a {
        font-family: $fuente;
        color: $colorFuente !important;
        font-size: 25px;
    }
    .redes {
        text-align: center;
        .img-logo-redes {
            display: inline-block;
            width: 2%;
            margin: 5px;
        }
    }
    .texto-final {
        font-family: $fuente;
        color: $colorFuente !important;
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }
}

@import "mediaqueries.scss";